data_raw/
data/
*archive/
data_DB_import/
output_import/
output/
export/
sig/

.Rproj.user
.Rhistory
*.html
*.r~
*.dbf
*.prj
*.qpj
*.shp
*.shx
*.png
*.pdf
*.pjg
*.zip
*.gz
*.Rdata
*.rds
*.r#
*.rmd~
*.nc
*.org
*.org~
*.zip
_*.sql

my*

