data_raw/
data/
*archive/
data_DB_import/
output_import/
output/
export/
sig/
data_sig/

.Rproj.user
.Rhistory
*.html
*.r~
*.dbf
*.prj
*.qpj
*.shp
*.shx
*.png
*.pdf
*.pjg
*.zip
*.gz
*.Rdata
*.rds
*.r#
*.rmd~
*.nc
*.org
*.org~
*.zip
_*.sql

my*

.#my_stoc_eps_db.r
functions/.#fun_create_stoc_eps_db.r

#*#
library_sql/#postgres_createTableBBS.sql#

toDo.org~
library/abbrev_carre.~csv
